header{
    text-align: center;
    margin: auto;
    width: 1024px
}
#contenitore {
    margin: auto;
    width: 1024px;
}
#logo {
    width: 17%;
}
#linea_titoletto {
    border-color: #ffdb83;
}
.titoletto {
    color: #38726f;
    margin-top: 2em;
    margin-bottom: 2em;
}
.titolo {
    margin-top: 2em;
}
#foto_focaccia {
    border-radius: 2%;
    width: 70%;
    text-align: center;
    margin-left: 9em;
}
figcaption {
    margin-top: 1em;
    color: grey;
    padding: 0;
    text-align: center;
}
#presentazione_ricetta {
    text-align: center;
    text-align: left;
    margin-left: 11.5em;
}
#feature {
    text-align: left;
    margin-left: 7.5em;
}
#altre_ricette {
    text-align: left;
    margin-left: 8.8em;
}
h2 {
    text-align: left;
    margin-left: 7.5em;
}